body{
    background-image: url(https://images.alphacoders.com/102/thumb-1920-1026345.jpg);
    font-family: 'Inconsolata', monospace;
}







#window_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
}

#window_overlay.opened {
    opacity: 1;
    -webkit-transition: opacity 100ms;
    transition: opacity 100ms;
    visibility: visible;
}

.window_content {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) scale(0, 0);
    -webkit-transform: translate(-50%, -50%) scale(0, 0);
    transform: translate(-50%, -50%) scale(0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 10001;
}

.window_content.opened {
    -webkit-transition: transform 300ms;
    transition: transform 300ms;
    -ms-transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1);
    visibility: visible;
    padding: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-image: url(https://images.alphacoders.com/102/thumb-1920-1026345.jpg);
    color: black;
}

.window_content .window_close {
    width: 30px;
    height: 30px;
    margin: -10px -10px 0 0;
    border-radius: 50%;
    background-color: blue;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.window_content .window_close:hover {
    text-decoration: none;
    background-color: black;
    color: blue;
}

.window_content img {
    display: inline;
    max-width: 200px;
}

@media (max-width:1000px) {

.window_content {
    margin-top: 5%;
    width: 80%;
}

.window_content p{
    margin-top: -80px;
}

.window_content.opened {
    padding: 20px 30px;
    font-size: 15px;
}

.window_content img {
    display: none!important;
}

}

.backGroundsImages{
    display: flex;
    justify-content: space-between;
}

.bgOption{
    cursor: pointer;
}


















.startBtnP{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn{
    font-size: 50px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.startBtn:hover{
    opacity: 70%;
}

.stopBtnP{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopBtn{
    font-size: 50px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.stopBtn:hover{
    opacity: 70%;
}



.topicAndBeat{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.topic{
    width: 600px;
    height: 600px;
    margin-left: 10px;
    border: 7px solid black;
    border-radius: 20px;
}

.instruction1{
    text-align: center;
    font-size: 30px;
}

.timeToChange{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 7px solid black;
    padding-bottom: 10px;
}

.time{
    font-size: 35px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}
.time:hover{
    opacity: 70%;
}

.timerToChange{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

#timerText{
    margin-top: 20%;
}

.Topic{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 40px;
    border: 10px solid black;
    border-radius: 20px;
    padding: 10px;
}